{
    "presets": [
        [
            "env",
            {
                "targets": [
                    "last 5 versions"
                ],
                "loose": true
            }
        ],
        "stage-0"
    ],
    "plugins": [
        "transform-vue-jsx",
        "transform-runtime"
    ]
}